extends layout

block content
  section
    h1= title
    p #{subTitle}
  p Welcome to #{title}
  if message
    p #{message}
  div
    form(method="post", action="/")
      input(name="message", type="text")
      input(type="submit", value="送信")
